* {
  text-decoration: none;
}

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url('/public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.8rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;
}

nav .navHeader{
  font-size: 30px;
}

.you {
  color: rgb(208, 2, 70);
}

.landingPageContainer nav .navList{
  display: flex;
  gap: 1.6rem;
}

.landingPageContainer nav .navList p {
  font-size: 20px;
}


.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.leftSection h1{
  font-size: 3rem;
}

.leftSection p{
  font-size: 1.8rem;
  margin-top: .2rem;
}
.leftSection .btn{
  background-color:rgb(208, 2, 70) ;
  width: fit-content;
  padding-inline: 1rem;
  /* padding: .9rem; */
  padding-block: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50px;
  align-items: center;
  margin-top: 2rem;
  
} 

.getStarted {
  color: #fff;
  font-weight: 600;
}


.rightSection img {
  height: 70vh;
  width: auto;
}
