* {
  text-decoration: none;
}

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.8rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;
}

nav .navHeader{
  font-size: 30px;
}

.you {
  color: rgb(208, 2, 70);
}

.landingPageContainer nav .navList{
  display: flex;
  gap: 1.6rem;
}

.landingPageContainer nav .navList p {
  font-size: 20px;
}


.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.leftSection h1{
  font-size: 3rem;
}

.leftSection p{
  font-size: 1.8rem;
  margin-top: .2rem;
}
.leftSection .btn{
  background-color:rgb(208, 2, 70) ;
  width: fit-content;
  padding-inline: 1rem;
  /* padding: .9rem; */
  padding-block: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50px;
  align-items: center;
  margin-top: 2rem;
  
} 

.getStarted {
  color: #fff;
  font-weight: 600;
}


.rightSection img {
  height: 70vh;
  width: auto;
}

/* Authentication */

.authPage{
  background: url('/background.png');
  justify-content: center;
  align-items: center;
   background-repeat: no-repeat;
  background-size: cover;
}

.authForm {
  background-color: aquamarine;
}


.btn {
  background-color:rgb(208, 2, 70) ;
  width: fit-content;
  padding-inline: 1rem;
  /* padding: .9rem; */
  padding-block: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50px;
  align-items: center;
  /* margin-top: 2rem; */
  font-weight: 500;
}

.register-btn {
   background-color:rgb(248, 248, 248) ;
  width: fit-content;
  padding-inline: 1rem;
  /* padding: .9rem; */
  padding-block: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50px;
  align-items: center;
  /* margin-top: 2rem; */
  font-weight: 500;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  text-align: center;
  padding-inline: 20px;
  background-color: black;
  color: #fff;

}



.logoutbtn {
  text-decoration: none;
  color: #fff !important;
  
}




.leftPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPanel .heading {
  margin-bottom: 10px;
}



.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.rightPanel{
   display: flex;
  justify-content: center;
  align-items: center;
}


.rightPanel  img{
   height: 60vh;
}

.footer {
  text-align: center;
}


/* Media quesry */

/* Tablet Styles (768px - 1024px) */
@media screen and (max-width: 1024px) {
  .landingPageContainer nav {
    padding-inline: 1rem;
    padding-block: 1.5rem;
  }

  nav .navHeader {
    font-size: 26px;
  }

  .landingPageContainer nav .navList {
    gap: 1.2rem;
  }

  .landingPageContainer nav .navList p {
    font-size: 18px;
  }

  .landingMainContainer {
    padding-inline: 2rem;
    height: 75vh;
  }

  .leftSection h1 {
    font-size: 2.5rem;
  }

  .leftSection p {
    font-size: 1.5rem;
  }

  .rightSection img {
    height: 60vh;
  }

  .meetContainer {
    gap: 5vw;
    padding-inline: 15px;
  }

  .rightPanel img {
    height: 50vh;
  }
}

/* Mobile Styles (max-width: 767px) */
@media screen and (max-width: 767px) {
  .landingPageContainer nav {
    padding-inline: 0.8rem;
    padding-block: 1.2rem;
    flex-direction: column;
    gap: 1rem;
  }

  nav .navHeader {
    font-size: 24px;
  }

  .landingPageContainer nav .navList {
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .landingPageContainer nav .navList p {
    font-size: 16px;
  }

  .landingMainContainer {
    flex-direction: column;
    padding-inline: 1.5rem;
    height: auto;
    padding-block: 2rem;
    gap: 2rem;
  }

  .leftSection {
    text-align: center;
  }

  .leftSection h1 {
    font-size: 2rem;
  }

  .leftSection p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .leftSection .btn {
    margin-inline: auto;
    margin-top: 1.5rem;
  }

  .rightSection img {
    height: 40vh;
    width: 100%;
    object-fit: contain;
  }

  .navBar {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 1rem;
    gap: 1rem;
  }

  .meetContainer {
    flex-direction: column;
    padding-inline: 15px;
    height: auto;
    gap: 3rem;
    padding-block: 2rem;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
  }

  .leftPanel .heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .rightPanel img {
    height: 35vh;
    width: 100%;
    object-fit: contain;
  }

  .btn,
  .register-btn {
    font-size: 1rem;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
  }

  .footer {
    padding: 1rem;
    font-size: 14px;
  }
}

/* Small Mobile Styles (max-width: 480px) */
@media screen and (max-width: 480px) {
  nav .navHeader {
    font-size: 20px;
  }

  .landingPageContainer nav .navList p {
    font-size: 14px;
  }

  .leftSection h1 {
    font-size: 1.5rem;
  }

  .leftSection p {
    font-size: 1rem;
  }

  .rightSection img {
    height: 30vh;
  }

  .rightPanel img {
    height: 25vh;
  }

  .btn,
  .register-btn {
    font-size: 0.9rem;
  }
}