.meetVideoContainer{

    position: relative;
    height: 100vh;
    background-color: rgba(0, 7, 8, 0.982);
    
    
}

.meetUserVideo{
    
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
    padding-left: 10px;
}

.conferenceView{
    display: flex;
    /* justify-content: center; */
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    min-width: 30vw;
    border-radius: 10px;
}

.buttonContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
    
}

.buttonContainer svg {
    font-size:3rem;
    
}

.chatRoom {
    position: absolute;
    right: 0;
    width: 20vw;
    height: 90vh;
    background-color: #fff;
    border-radius: 20px;
    padding-inline: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.chatContainer {
    position: relative;
    height: 100%;
    
}

.chattingArea {
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 10px;
}

.chattingArea button {
    width: 30px !important;
}