.meetVideoContainer{

    position: relative;
    height: 100vh;
    background-color: rgba(0, 7, 8, 0.982);
    
    
}

.meetUserVideo{
    
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    right: 0;
    border-radius: 20px;
}

.conferenceView{

}