.meetVideoContainer{

    position: relative;
    height: 100vh;
    background-color: rgba(0, 7, 8, 0.982);
    
    
}

.meetUserVideo{
    
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    right: 0;
    border-radius: 20px;
    padding-right: 10px;
}

.conferenceView{
    display: flex;
    /* justify-content: center; */
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    min-width: 30vw;
    border-radius: 10px;
}

.buttonContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
    
}

.buttonContainer svg {
    font-size:3rem;
    
}